{% include "polls/header.html" %}
<div class="container mt-5 rounded">
    <div class="list-group">
        <form action="{% url  'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="list-group-item bg-light">
                <h1>{{ question.question_text }}</h1>
            </div>
            {% if error_message %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <div class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </div>
                </div>
            {% endfor %}
            <div class="list-group-item">
                <button class="btn btn-primary" type="submit">Votar</button>
                <a class="btn btn-light" href="{% url 'polls:index' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
