<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Polls</title>
    <link rel="icon" type="image/x-icon" href="https://lh3.google.com/u/0/d/1tgRqJ9z5apZQ_U4oi77rGwU8cnSydXVG=w1920-h922-iv1">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
        </div>
    </nav>