{% include "polls/header.html" %}

{% load static %}

{% if latest_question_list %}
<div class="container mt-5">
    <div class="row">

        {% for question in latest_question_list %}
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{question.question_text}}</h5>
                        <small class="text-muted">{{question.pub_date}}</small>
                    </div>
                    <div class="card-body">
                        <a class="card-link btn btn-primary" href="{% url 'polls:detail' question.id %}">Responder</a>
                        <a class="card-link btn btn-light" href="{% url 'polls:results' question.id %}">Ver resultado</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% else %}
<div class="container mt-5 justify-content-center">
    <div class="row d-flex justify-content-center">
        <img class="col-12 col-md-6" src="{% static 'polls/sad.svg' %}" alt="It`s so sad">
    </div>
    <p class="text-center">Sorry! No polls are avaliable</p>
</div>
{% endif %}