{% include "polls/header.html" %}

<div class="container mt-5">
    <div class="list-group">
        <div class="list-group-item bg-light">
            <h1>{{ question.question_text }}</h1>
        </div>

        {% for choice in question.choice_set.all %}
            <div class="list-group-item">
                {{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}
            </div>
        {% endfor %}

        <div class="list-group-item">
            <a class="btn btn-primary" href="{% url 'polls:detail' question.id %}">Responder</a>
            <a class="btn btn-light" href="{% url 'polls:index' %}">Voltar ao ínicio</a>
        </div>
    </div>
</div>
