@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}
.no-polls{
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 400px;

    margin-top: auto;
    margin-bottom: auto;

}
.no-polls img{
    width: 100%;
}
.no_polls p{
    font-size:2.8rem;
}

.list-polls{
    width:640px;
    margin-top:32px;
}
.list-polls .list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:16px;
    margin-top: 32px;
}
.list-polls .list .item{
    background-color:#f5f7f7;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    width:100%;
    border-radius:12px;
}
.list-polls .list .item small{
    margin-bottom: 24px;
}
.list-polls .list .item a{
    border:none;
    text-decoration: none;
    padding: 12px 24px;
    margin-right:auto;
    margin-top: auto;
    align-self: flex-end;
    position:relative;
    bottom: 0px;
    background-color: #e3e3e3;
    color: #232323;
    text-transform: uppercase;
    font-size: .8rem;
}